#background {
  position:relative;
  left:-8px;
}

/*#background2 {
  position:relative;
  left:-12px;
}*/

#pikachu {
  position:absolute;
  top:270px;
  left:0px;
  width:100px;
}

#charmander {
  position:absolute;
  top:200px;
  left:0px;
  width:100px;
}

#charizard {
  position:absolute;
  top:120px;
  left:0px;
  width:80px;
}

#start {
  background-color: yellow;
  color: black;
  position: absolute;
  width:80px;
  height:40px;
  border-radius:10px;
  top:400px;
  left:315px;
  padding: 0;
}

#start:hover {
  background-color: green;
  color: #fff;
}

#reset {
  position: relative;
  margin-top:20px;
  display:block;
  width: 10%;
  padding: 2px;
  border-radius: 10px;
  alignment-baseline: left;
  margin: 0 auto;
}

#reset:hover {
  background-color: red;
}